html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #000;
	color: #fff;
}

a {
	color: #fff;
}

.intro {
	padding: 0 5px;
}

.filter-box{
	border: 1px solid white;
    border-radius: 3px;
    background: rgba(255,255,255,.2);
    font-size: 1em;
    outline: none;
    margin-bottom: 1em;
    padding: 0.3em 1em;
    color: white;
}

.sign-list,
.tag-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sign-list__sign,
.tag-list__tag {
	float: left;
}

.sign-list__sign {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
}

.sign-list__sign.filtered {
	display: none;
}

@media (min-width:500px) {
	.sign-list__sign {
		width: 50%;
	}
}

@media (min-width:800px) {
	.sign-list__sign {
		width: 33%;
	}
}

@media (min-width:1100px) {
	.sign-list__sign {
		width: 25%;
	}
}

.video {
	width: 100%;
}

.tag-list__tag {
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 5px;
	background-color: #ea148c;
	color: #fff;
	font-size: 18px;
}
